@font-face {
  font-family: mainFont;
  src: url(../../fonts/Belgrano-Regular.ttf);
}
@font-face {
  font-family: BeVietnam-SB;
  src: url(../../fonts/BeVietnam-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #19213E 0%, #050917 100%);
}
body .welcome_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  min-height: 900px;
  height: auto;
}
@media (max-width: 576px) {
  body .welcome_section {
    width: 85%;
  }
}
body .welcome_section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 130px;
}
body .welcome_section header > div:first-child, body .welcome_section header > div:last-child {
  width: 250px;
}
body .welcome_section header .logo {
  font-family: mainFont;
  font-size: calc(100px * 0.25);
  color: #E4E4E4;
  width: -moz-fit-content;
  width: fit-content;
  line-height: calc(100px * 0.25);
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
body .welcome_section header .header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 450px;
}
@media (max-width: 576px) {
  body .welcome_section header .header_list {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: blue;
  }
}
body .welcome_section header .header_list > a {
  text-decoration: none;
  text-align: center;
}
body .welcome_section header .header_list > a > li {
  position: relative;
  font-family: mainFont;
  font-size: calc(100px * 0.20);
  line-height: calc(100px * 0.20);
  color: #E4E4E4;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
body .welcome_section header .header_list > a > li::before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 0;
  height: 2px;
  background: #E4E4E4;
}
body .welcome_section header .header_list > a > li:hover::before {
  width: 100%;
  transition: 0.5s;
}
body .welcome_section header > a {
  text-decoration: none;
}
body .welcome_section header > a .header_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  border: 2px solid #E4E4E4;
  border-radius: 30px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  overflow: hidden;
}
body .welcome_section header > a .header_button::before {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 100%;
  background: #E4E4E4;
  transition: 0.5s;
}
body .welcome_section header > a .header_button:hover::before {
  width: 100%;
  background: none;
}
body .welcome_section header > a .header_button > div {
  font-family: mainFont;
  font-size: calc(100px * 0.25);
  line-height: calc(100px * 0.25);
  color: #E4E4E4;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  z-index: 1;
  transition: 0.5s;
}
body .welcome_section main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
body .welcome_section main .slides {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  right: 0;
  transition: all 1s ease;
}
body .welcome_section main .slides > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
body .welcome_section main .slides > div:nth-child(1) {
  left: 0;
}
body .welcome_section main .slides > div:nth-child(2) {
  left: 100%;
}
body .welcome_section main .slides > div:nth-child(3) {
  flex-direction: column;
  left: 200%;
}
body .welcome_section main .slides > div .stepNumber {
  position: absolute;
  color: #E4E4E4;
  font-family: mainFont;
  font-size: 50px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  left: 20%;
}
body .welcome_section main .slides .firstStepWindow label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid #E4E4E4;
  color: #E4E4E4;
  font-family: BeVietnam-SB;
  font-size: 25px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  background: radial-gradient(34.06% 108.38% at 3.82% 50%, #E4E4E4 0%, rgba(228, 228, 228, 0) 100%);
  cursor: pointer;
}
body .welcome_section main .slides .firstStepWindow label img {
  width: 50px;
  margin-right: -30px;
}
body .welcome_section main .slides .firstStepWindow label input[type=file] {
  display: none;
}
body .welcome_section main .slides .firstStepWindow .hint {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45%;
  width: 15%;
  bottom: 0;
}
body .welcome_section main .slides .firstStepWindow .hint .arrow {
  width: 40%;
  border: 2px dashed #E4E4E4;
  transform: rotate(-90deg);
  animation: arrowSteps infinite 10s steps(8);
}
@keyframes arrowSteps {
  from {
    width: 0;
  }
}
body .welcome_section main .slides .firstStepWindow .hint .text {
  color: #E4E4E4;
  font-family: mainFont;
  font-size: 25px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
}
body .welcome_section main .secondStepWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}
body .welcome_section main .secondStepWindow .viewDataWindow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 40%;
  color: #E4E4E4;
  font-family: mainFont;
  font-size: auto;
  overflow: auto;
  border: 8px solid #E4E4E4;
}
body .welcome_section main .secondStepWindow .viewDataWindow.second {
  display: none;
}
body .welcome_section main .secondStepWindow .viewDataWindow.active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 20%;
  color: #E4E4E4;
  font-family: mainFont;
  font-size: auto;
  overflow: auto;
  border: 8px solid #E4E4E4;
}
body .welcome_section main .thirdStepWindow .nameObjectWindow {
  width: 30%;
  height: 10%;
  border: 5px solid #E4E4E4;
  background: transparent;
  padding-left: 20px;
  font-family: mainFont;
  color: #E4E4E4;
  font-size: 20px;
}
body .welcome_section main .thirdStepWindow .nameObjectWindow.second {
  display: none;
}
body .welcome_section main .thirdStepWindow .startButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  bottom: 30%;
  border-radius: 50px;
  border: 2px solid #E4E4E4;
  color: #E4E4E4;
  font-family: BeVietnam-SB;
  font-size: 25px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
  overflow: hidden;
  cursor: pointer;
}
body .welcome_section main .thirdStepWindow .startButton::before {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 100%;
  background: #E4E4E4;
  transition: 0.5s;
}
body .welcome_section main .thirdStepWindow .startButton:hover::before {
  width: 100%;
  background: none;
}
body .welcome_section main > div[class^=sliderButton] {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../../img/sliderButton.png") no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
  opacity: 0.5;
}
body .welcome_section main > div[class^=sliderButton]:hover {
  opacity: 0.8;
}
body .welcome_section main > div[class^=sliderButton].active {
  opacity: 0;
}
body .welcome_section main div[class$=left] {
  left: 0;
  transform: scaleX(-1);
}
body .welcome_section main div[class$=right] {
  right: 0;
}
body .welcome_section main .msgbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 150px;
  background: #111833;
  border: 5px solid #0d132c;
  transition: 0.2s ease-in;
  transform: scale(0);
  z-index: 1;
}
body .welcome_section main .msgbox.active {
  transform: scale(1);
}
body .welcome_section main .msgbox .exit {
  position: absolute;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  transition: 0.1s ease-in;
  cursor: pointer;
}
body .welcome_section main .msgbox .exit:hover {
  transform: rotate(45deg);
  transform-origin: center;
}
body .welcome_section main .msgbox .exit::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #E4E4E4;
  height: 2px;
  transform-origin: center;
  transform: rotate(45deg);
}
body .welcome_section main .msgbox .exit::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #E4E4E4;
  height: 2px;
  transform-origin: center;
  transform: rotate(-45deg);
}
body .welcome_section main .msgbox .caption {
  display: flex;
  align-items: center;
  font-family: mainFont;
  text-align: center;
  font-size: 20px;
  color: #E4E4E4;
  width: 80%;
  height: auto;
  padding: 20px;
  line-height: 30px;
  word-wrap: break-word;
}
body .welcome_section main .programCalculate {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
body .welcome_section main .programCalculate > div:nth-child(2) {
  display: none;
}
body .welcome_section main .programCalculate > div {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .welcome_section main .programCalculate > div .titleWindow {
  font-family: mainFont;
  line-height: 30px;
  font-size: 30px;
  color: #E4E4E4;
  margin: 25px 0;
}
body .welcome_section main .programCalculate > div .titleWindow.main {
  font-size: 40px;
  text-decoration: underline;
  margin: 25px 0 50px;
}
body .welcome_section main .programCalculate > div > div {
  margin-bottom: 50px;
}
body .welcome_section main .programCalculate > div .chartWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #020512;
  border-radius: 30px;
}
body .welcome_section main .programCalculate > div .chartWindow .chart {
  width: 95%;
  height: 70%;
  background-color: #111833;
}
body .welcome_section main .programCalculate > div .chartWindow .chart #chartModel {
  width: 100% !important;
  height: 100% !important;
}
body .welcome_section main .programCalculate > div .transitionsWindow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #020512;
  border-radius: 30px;
}
body .welcome_section main .programCalculate > div .transitionsWindow .hidderBut {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 30px;
  height: 30px;
  background: url("../../img/arrow.png") no-repeat;
  background-size: contain;
  z-index: 1;
  transform: rotate(90deg);
  transform-origin: center;
  cursor: pointer;
  transition: 0.5s;
}
body .welcome_section main .programCalculate > div .transitionsWindow .hidderBut.active {
  transform: rotate(0deg);
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions {
  display: none;
  width: 95%;
  height: auto;
  background-color: #111833;
  margin-bottom: 50px;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: 50px 0;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section {
  width: 90%;
  height: 100%;
  border: 10px solid #020512;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table div {
  font-family: BeVietnam-SB;
  font-size: 15px;
  line-height: 15px;
  color: #E4E4E4;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .head {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #020512;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .head > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .head > div:first-child {
  width: 40%;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row {
  display: flex;
  width: 100%;
  height: 80%;
  margin-bottom: 50px;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row:last-child {
  margin: 0;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row .confColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.1%;
  min-height: 200px;
  height: auto;
  overflow: hidden;
  border: 1px solid #020512;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row .confColumn > div {
  text-align: center;
  width: auto;
  height: auto;
  transform: rotate(-90deg);
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row .contains {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90.9%;
  height: auto;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row .contains .contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #020512;
}
body .welcome_section main .programCalculate > div .transitionsWindow .transitions .transitionsLine .section .table .row .contains .contain > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  border: 1px solid #020512;
}
body .welcome_section main .programCalculate > div .validation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #020512;
  border-radius: 30px;
}
body .welcome_section main .programCalculate > div .validation .hidderBut {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 30px;
  height: 30px;
  background: url("../../img/arrow.png") no-repeat;
  background-size: contain;
  z-index: 1;
  transform: rotate(90deg);
  transform-origin: center;
  cursor: pointer;
  transition: 0.5s;
}
body .welcome_section main .programCalculate > div .validation .hidderBut.active {
  transform: rotate(0deg);
}
body .welcome_section main .programCalculate > div .validation .terms {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: auto;
  background-color: #111833;
  margin-bottom: 50px;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 250px;
  justify-content: center;
  align-items: center;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine > div:first-child {
  margin-top: 50px;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine > div {
  margin-bottom: 50px;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 10px solid #020512;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance .header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #020512;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance .header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.2857142857%;
  height: 100%;
  font-family: BeVietnam-SB;
  font-size: 15px;
  line-height: 15px;
  color: #E4E4E4;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance .contain {
  width: 100%;
  height: 100px;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance .contain > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.2857142857%;
  height: 100%;
  font-family: BeVietnam-SB;
  font-size: 15px;
  line-height: 15px;
  color: #E4E4E4;
  border: 1px solid #020512;
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance .contain > div:last-child.false {
  background-color: rgba(168, 0, 0, 0.5);
}
body .welcome_section main .programCalculate > div .validation .terms .termsLine .instance .contain > div:last-child.true {
  background-color: rgba(0, 168, 28, 0.5);
}
body .welcome_section main .programCalculate > div .defuzzification {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #020512;
  border-radius: 30px;
}
body .welcome_section main .programCalculate > div .defuzzification .hidderBut {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 30px;
  height: 30px;
  background: url("../../img/arrow.png") no-repeat;
  background-size: contain;
  z-index: 1;
  transform: rotate(90deg);
  transform-origin: center;
  cursor: pointer;
  transition: 0.5s;
}
body .welcome_section main .programCalculate > div .defuzzification .hidderBut.active {
  transform: rotate(0deg);
}
body .welcome_section main .programCalculate > div .defuzzification .chart {
  display: none;
  width: 95%;
  height: 280px;
  background-color: #111833;
  margin-bottom: 50px;
}
body .welcome_section main .programCalculate > div .defuzzification .chart #defuzModel {
  width: 100% !important;
  height: 100% !important;
}
body .welcome_section footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  font-family: mainFont;
  font-size: 20px;
  line-height: 20px;
  color: #E4E4E4;
  letter-spacing: 0.05ch;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
}
body .welcome_section footer .lang_switcher {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  color: #E4E4E4;
  text-shadow: 0px 0px 3px #E4E4E4;
  right: 0;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */