$fontSize:100px;
$white:#E4E4E4;

@mixin fontSettings{
    font-family: BeVietnam-SB;
    font-size: 15px;
    line-height: 15px;
    color:$white;
}

@font-face {
    font-family: mainFont;
    src: url(../../fonts/Belgrano-Regular.ttf);
}

@font-face {
    font-family: BeVietnam-SB;
    src: url(../../fonts/BeVietnam-SemiBold.ttf);
}

*{
    padding:0;
    margin:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    height:100%;
    background:radial-gradient(50% 50% at 50% 50%, #19213E 0%, #050917 100%);

    .welcome_section{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:85%;
        min-height:900px;
        height:auto;

        @media (max-width:576px){
            width:85%;
        }

        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            height:130px;

            &>div:first-child,&>div:last-child{
                width:250px;
            }

            .logo{
                font-family: mainFont;
                font-size:calc(#{$fontSize} * 0.25);
                color:$white;
                width:fit-content;
                line-height: calc(#{$fontSize} * 0.25);
                letter-spacing: 0.05em;
                text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                cursor:pointer;
            }

            .header_list{
                display:flex;
                justify-content: space-between;
                align-items: center;
                list-style-type:none;
                width: 450px;

                @media (max-width:576px){
                    display:none;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position:absolute;
                    top:0;
                    bottom:0;
                    left:0;
                    right:0;
                    width:100%;
                    height:100%;
                    background:blue;
                }

                >a{
                    text-decoration: none;
                    text-align: center;

                    &>li{
                        position:relative;
                        font-family: mainFont;
                        font-size:calc(#{$fontSize} * 0.20);
                        line-height: calc(#{$fontSize} * 0.20);
                        color:$white;
                        letter-spacing: 0.05em;
                        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                        cursor:pointer;
    
                        &::before{
                            position: absolute;
                            bottom:-2px;
                            content:'';
                            width:0;
                            height:2px;
                            background:$white;
                        }
    
                        &:hover::before{
                            width:100%;
                            transition:.5s;
                        }
                    }
                }
            }

            >a{
                text-decoration: none;

                .header_button{
                    position: relative;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width:230px;
                    height:50px;
                    border: 2px solid $white;
                    border-radius: 30px;
                    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                    cursor:pointer;
                    overflow:hidden;
    
                    &::before{
                        position: absolute;
                        content:'';
                        left:0;
                        width:0;
                        height:100%;
                        background:$white;
                        transition: .5s;
                    }

                    &:hover::before{
                        width:100%;
                        background:none;
                    }


                    &>div{
                        font-family: mainFont;
                        font-size:calc(#{$fontSize} * 0.25);
                        line-height: calc(#{$fontSize} * 0.25);
                        color:$white;
                        letter-spacing: 0.05em;
                        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                        z-index:1;
                        transition: .5s;
                    }
                }
            }
        }

        main{
            position:relative;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:100%;
            height:auto;
            overflow: hidden;

            .slides{
                position:relative;
                display:none;/////////////////////
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width:100%;
                height:700px;
                right:0;
                transition:all 1s ease;

                &>div{
                    position: absolute;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width:100%;
                    height:100%;
                    transition:all 1s ease;
                
                    &:nth-child(1){
                        left:0;
                    }
                    &:nth-child(2){
                        left:calc(100% * 1);
                    }
                    &:nth-child(3){
                        flex-direction: column;
                        left:calc(100% * 2);
                    }

    
                    .stepNumber{
                        position:absolute;
                        color:$white;
                        font-family: mainFont;
                        font-size:$fontSize*0.5;
                        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                        left:20%;
                    }
                }
    
    
                .firstStepWindow{
                    label {
                        display:flex;
                        justify-content: space-around;
                        align-items: center; 
                        width:300px;
                        height:60px;
                        border-radius: 50px;
                        border:3px solid $white;
                        color:$white;
                        font-family: BeVietnam-SB;
                        font-size:$fontSize*0.25;
                        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                        background: radial-gradient(34.06% 108.38% at 3.82% 50%, #E4E4E4 0%, rgba(228, 228, 228, 0) 100%);
                        cursor:pointer;
                        
                        img{ 
                            width:50px;
                            margin-right:-30px;
                        }
    
                        input[type=file] {
                            display: none;
                        }
                    }
    
                    .hint{
                        position:absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        height:45%;
                        width:15%;
                        bottom:0;
    
                        .arrow{
                            width: 40%;
                            border: 2px dashed $white;
                            transform: rotate(-90deg);
                            animation: arrowSteps infinite 10s steps(8);
    
                            @keyframes arrowSteps{
                                from{
                                    width:0;
                                }
                            }
                        }
    
                        .text{
                            color:$white;
                            font-family: mainFont;
                            font-size:$fontSize*0.25;
                            text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                        }
                        
                    }
                }
            }

            .secondStepWindow{
                    
                .viewDataWindow{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    width:30%;
                    height:40%;
                    color:$white;
                    font-family: mainFont;
                    font-size:auto;
                    overflow:auto;
                    border:8px solid $white;
                }
            }

            .thirdStepWindow{
            
                .nameObjectWindow{
                    width:30%;
                    height:10%;
                    border:5px solid $white;
                    background: transparent;
                    padding-left:20px;
                    font-family:mainFont;
                    color:$white;
                    font-size: calc($fontSize * 0.2);
                }

                .startButton{
                    position: absolute;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width:200px;
                    height:50px;
                    bottom:30%;
                    border-radius: 50px;
                    border:2px solid $white;
                    color:$white;
                    font-family: BeVietnam-SB;
                    font-size:$fontSize*0.25;
                    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
                    overflow: hidden;
                    cursor:pointer;

                    &::before{
                        position: absolute;
                        content:'';
                        left:0;
                        width:0;
                        height:100%;
                        background:$white;
                        transition: .5s;
                    }

                    &:hover::before{
                        width:100%;
                        background:none;
                    }
                }
            }



            &>div[class^="sliderButton"]{
                display:flex;////////////////////////////
                position:absolute;
                width:50px;
                height:50px;
                background: url('../../img/sliderButton.png') no-repeat;
                background-size: contain;
                cursor:pointer;
                z-index:1;
                opacity:0.5;

                &:hover{
                    opacity:0.8;
                }

                &.active{
                    opacity:0;
                }
            }

            div[class$="left"]{
                left: 0;
                transform:scaleX(-1);
            }
            div[class$="right"]{
                right: 0;
                
            }


            .msgbox{
                position: absolute;
                display:flex;
                justify-content: center;
                align-items: center;
                max-width:450px;
                height:150px;
                background:#111833;
                border:5px solid #0d132c;
                transition: .2s ease-in;
                transform: scale(0);
                z-index:1;

                &.active{
                    transform: scale(1);
                }
                
                .exit{
                    position:absolute;
                    display:flex;
                    align-items: center;
                    width:30px;
                    height:30px;
                    right:15px;
                    top:15px;
                    transition: .1s ease-in;
                    cursor:pointer;

                    &:hover{
                        transform: rotate(45deg);
                        transform-origin: center;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        width:100%;
                        background-color:$white;
                        height:2px;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        width:100%;
                        background-color:$white;
                        height:2px;
                        transform-origin: center;
                        transform: rotate(-45deg);
                    }
                }

                .caption{
                    display: flex;
                    align-items: center;
                    font-family: mainFont;
                    text-align: center;
                    font-size: 20px;
                    color:$white;
                    width:80%;
                    height:auto;
                    padding:20px;
                    line-height: 30px;
                    word-wrap: break-word; 
                }
            }


            .programCalculate{
                display:flex;/////
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width:100%;
                height:auto;

                .titleWindow{
                    font-family: mainFont;
                    line-height: 30px;
                    font-size:30px;
                    color:$white;
                    margin:25px 0;

                    &.main{
                        font-size: 40px;
                        text-decoration: underline;
                        margin:25px 0 50px;
                    }
                }

                & > div{
                    margin-bottom:50px;
                }

                .chartWindow{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width:100%;
                    height:400px;
                    background-color:#020512;
                    border-radius: 30px;

                    .chart{
                        width:95%;
                        height:70%;
                        background-color: #111833;

                        #chartModel{
                            width:100% !important; 
                            height:100% !important;
                        }
                    }
                }

                .transitionsWindow{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width:100%;
                    min-height: 100px;
                    height:auto;
                    background-color:#020512;
                    border-radius: 30px;

                    .hidderBut{
                        position: absolute;
                        top:35px;
                        left:30px;
                        width:30px;
                        height:30px;
                        background:url('../../img/arrow.png') no-repeat;
                        background-size: contain;
                        z-index:1;
                        transform: rotate(90deg);
                        transform-origin: center;
                        cursor:pointer;
                        transition:.5s;
                    }

                    .transitions{
                        width:95%;
                        height:auto;
                        background-color: #111833;
                        margin-bottom:50px;

                        .transitionsLine{
                            display:flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width:100%;
                            min-height:200px;
                            height:auto;
                            margin:50px 0;

                            .section{
                                width:90%;
                                height:100%;
                                border:10px solid #020512;
                                // box-shadow:0 0 10px 5px white;

                                .table{
                                    display:flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    width:100%;
                                    height:100%;

                                    div{
                                        @include fontSettings();
                                    }
                                    
                                    .head{
                                        display: flex;
                                        flex-direction: row;
                                        width:100%;
                                        height:50px;
                                        background-color: #020512;

                                        &>div{
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            width:100%;
                                            height:100%;

                                            &:first-child{
                                                width:40%;
                                            }
                                        }
                                    }

                                    .row{
                                        display: flex;
                                        width:100%;
                                        height:80%;
                                        margin-bottom: 50px;
                                        
                                        &:last-child{
                                            margin:0;
                                        }

                                        .confColumn{
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            width:9.1%;
                                            min-height: 200px;
                                            height: auto;
                                            overflow: hidden;
                                            border:1px solid #020512;

                                            >div{
                                                text-align: center;
                                                width:auto;
                                                height: auto;
                                                transform: rotate(-90deg);
                                            }
                                        }

                                        .contains{
                                            display:flex;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            align-items: center;
                                            width:90.9%;
                                            height: auto;
                                            

                                            .contain{
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: center;
                                                align-items: center;
                                                width:100%;
                                                height:100%;
                                                border:1px solid #020512;

    
                                                &>div{
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    align-items: center;
                                                    width:calc(100% / 4);
                                                    height:100%;
                                                    border:1px solid #020512; 
                                                }
    
                                                
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }

                .validation{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width:100%;
                    min-height: 100px;
                    height:auto;
                    background-color:#020512;
                    border-radius: 30px;

                    .hidderBut{
                        position: absolute;
                        top:35px;
                        left:30px;
                        width:30px;
                        height:30px;
                        background:url('../../img/arrow.png') no-repeat;
                        background-size: contain;
                        z-index:1;
                        transform: rotate(90deg);
                        transform-origin: center;
                        cursor:pointer;
                        transition:.5s;
                    }

                    .terms{
                        display:flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        width:95%;
                        height:auto;
                        background-color: #111833;
                        margin-bottom:50px;

                        .termsLine{
                            display:flex;
                            flex-direction: column;
                            width:90%;
                            min-height:250px;
                            justify-content: center;
                            align-items: center;

                            &>div:first-child{
                                margin-top:50px;
                            }
                            &>div{
                                margin-bottom:50px;
                            }

                            .instance{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width:100%;
                                height:100%;
                                border:10px solid #020512;

                                .header{
                                    display:flex;
                                    flex-direction: row;
                                    width:100%;
                                    height:50px;
                                    background-color: #020512;

                                    &>div{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        width:calc(100% / 7);
                                        height:100%;
                                        @include fontSettings();
                                    }
                                }

                                .contain{
                                    width:100%;
                                    height:100px;
                                    display: flex;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;

                                    &>div{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        width:calc(100% / 7);
                                        height:100%;
                                        @include fontSettings();
                                        border:1px solid #020512;
                                    }
                                }
                                
                            }
                            
                            

                            
                        }
                    }
                }
            }
        }

        footer{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            height:130px;
            font-family: mainFont;
            font-size:$fontSize*0.20;
            line-height:$fontSize*0.20;
            color:$white;
            letter-spacing: 0.05ch;
            text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);

            .lang_switcher{
                position: absolute;
                font-size:$fontSize*0.30;
                line-height:$fontSize*0.30;
                color:$white;
                text-shadow:0px 0px 3px $white;
                right:0;
                cursor:pointer;
            }
        }
    }
}
